/* Google Font Link */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html,
body {
    background: #E4E9F7!important;
}

.title {
    font-size: 26px;
    text-align: center;
    margin-top: 50px;
    font-weight: 700;
}

.sub-title {
    font-weight: 500;
    font-size: 14px;
    text-align: center;
}

.header {
    height: 80px!important;
}

.home-section .container {
    background: #E4E9F7;
}

.wrapper {
    background: #E4E9F7;
    margin: 0px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.wrapper .box {
    box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.1);
    margin: 10px;
    border-radius: 10px;
    text-align: center;
    height: 250px;
    width: 200px;
    background-color: white;
    border-radius: 10px;
    transition: all 0.8s;
}

.wrapper .box:hover {
    box-shadow: 1px 1px 10px rgba(165, 165, 165, 0.7);
}

.wrapper .box .body {
    text-align: center;
}

.wrapper .box i {
    transition: all 0.3s;
    background: rgb(135, 0, 240);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    margin: 0px 20px;
    font-size: 24px;
}

.wrapper .box .name {
    font-weight: 700;
}

.wrapper .box .version {
    color: white;
    font-weight: 500;
    position: relative;
    bottom: 10px;
    background-color: rgb(135, 0, 240);
    margin: 0px 70px;
    border-radius: 50px;
}

.wrapper .box .buttons a:hover {
    cursor: default;
}

.wrapper .box .buttons i:hover {
    cursor: pointer;
}

.wrapper .box .buttons {
    margin-top: 10px;
}

.wrapper .box .buttons i:active {
    transform: scale(0.80);
}

.notification {
    z-index: 1;
    position: fixed;
    top: 20px;
    right: 40px;
    opacity: 0;
    animation: show_toast-api 1s ease forwards;
}

@keyframes show_toast-api {
    0% {
        transform: translateX(-100%);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        transform: translateX(20px);
    }
}

.notification.hide {
    animation: hide_toast-api 1s ease forwards;
}

@keyframes hide_toast-api {
    0% {
        transform: translateX(20px);
    }
    40% {
        transform: translateX(10%);
    }
    80%,
    100% {
        opacity: 0;
        pointer-events: none;
        transform: translateX(-100%);
    }
}

.notification .toast-api {
    background: #fff;
    padding: 10px;
    border-radius: 10px;
    border-left: 5px solid red;
    box-shadow: 1px 7px 14px -5px rgba(0, 0, 0, 0.15);
    width: 320px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.notification .toast-api.offline {
    border-color: #ccc;
}

.toast-api .content {
    display: flex;
    align-items: center;
}

.content .icon {
    font-size: 48px;
    color: black;
    height: 50px;
    width: 50px;
    text-align: center;
    line-height: 50px;
    border-radius: 50%;
}

.content .details {
    margin-left: 15px;
    margin-top: 12px;
}

.details span {
    font-size: 20px;
    font-weight: 600;
}

.details p {
    color: #878787;
}

.selector {
    display: flex;
    justify-content: center;
    text-align: center;
}

.selector a {
    font-size: 16px;
    font-weight: 600;
    color: black;
    padding: 20px 60px;
    margin: 0px 10px;
    background-color: white;
    border-radius: 8px;
    transition: all 0.8s;
}

.selector a.actived {
    color: white;
    background-color: rgb(135, 0, 240);
}

.selector a:hover {
    box-shadow: 1px 1px 20px rgba(165, 165, 165, 0.4);
    text-decoration: none;
}

.selector a:active {
    border: none;
    transform: scale(0.80);
}

form {
    padding-bottom: 10px;
}

form .field {
    height: 50px;
    width: 100%;
    margin-top: 20px;
    position: relative;
}

form .field input {
    height: 100%;
    width: 100%;
    outline: none;
    font-size: 17px;
    padding-left: 20px;
    border: 1px solid lightgrey;
    border-radius: 25px;
    transition: all 0.3s ease;
}

form .field input:focus,
form .field input:valid {
    border-color: #4158d0;
}

form .field label {
    position: absolute;
    top: 50%;
    left: 20px;
    color: #999999;
    font-weight: 400;
    font-size: 17px;
    pointer-events: none;
    transform: translateY(-50%);
    transition: all 0.3s ease;
}

form .field input:focus~label,
form .field input:valid~label {
    visibility: hidden;
    transition: all 0.3s ease;
}

form .content {
    display: flex;
    width: 100%;
    height: 50px;
    font-size: 16px;
    align-items: center;
    justify-content: space-around;
}

form .content .checkbox {
    display: flex;
    align-items: center;
    justify-content: center;
}

form .content input {
    width: 15px;
    height: 15px;
    background: red;
}

form .content label {
    margin-top: 10px;
    color: #262626;
    user-select: none;
    padding-left: 5px;
}

form .content .pass-link {
    color: "";
}

form .field input[type="submit"] {
    color: #fff;
    border: none;
    padding-left: 0;
    margin-top: -10px;
    font-size: 20px;
    font-weight: 500;
    cursor: pointer;
    background: linear-gradient(-135deg, #c850c0, #4158d0);
    transition: all 0.3s ease;
}

form .field input[type="submit"]:active {
    transform: scale(0.95);
}

@media (max-width: 402px){
    .selector a {
        padding: 20px 40px;
    }
}